## Библиотеки и чтение

In [1]:
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
# from datetime import datetime
import datetime as dt
# import re
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel("C://Users/AlexPC/1 YP/0001 Tengiz/Files/order-27-06-22.09-23_81d6b8.xls", parse_dates=['Дата доставки', 'Дата и время'])
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 200)

df['month'] = df['Дата доставки'].dt.month
df['year'] = df['Дата доставки'].dt.year
# df['ym'] = df.year.astype('str') + ' ' + df.month.astype('str')
df = df.rename(columns = {'Адрес доставки':'address', 'Покупатель':'client_name', 'Контактный телефон':'phone', 'Сумма':'price', 'Дата доставки':'delivery_date', 'Время доставки':'delivery_time','Номер':'code', 'Оплата':'payment_status', 'E-mail':'email', 'Дата и время':'date_and_time', 'Комментарий клиента':'client_comment', 'Тип оплаты':'payment_type'})
# df.head(2)

In [3]:
df.shape

(30507, 14)

In [4]:
df_dict = {'df':df}
for name_, df_ in df_dict.items():
    print('='*60)
    print('\033[1m'+f'    INFO {name_}'+'\033[0m', end='\n\n')
    print(df_.info(), end='\n\n')
    print('='*60)
    print('\033[1m'+f'Initial Duplicates in {name_}: '+'\033[0m', df_.duplicated().sum(), end='\n\n')
    if df_.duplicated().sum() > 0:
        df_.drop_duplicates(inplace=True)
        print('\033[1m'+f'Final Duplicates  in {name_}: '+'\033[0m', df_.duplicated().sum(), end='\n\n')
    print('='*60)
    df_.columns = df_.columns.str.lower().str.replace(' ', '_')
    print('\033[1m'+f'Columns in {name_}:'+'\033[0m\n', df_.columns)
    print('='*60)
    print('\033[1m'+f'Nulls and notNAs in {name_}:'+'\033[0m\n')
    missing_data = pd.DataFrame({'nulls':df_.isna().sum()})
    missing_data['null_rate'] = df_.isna().mean().map(lambda x: '{:.2%}'.format(x))
    missing_data['notna'] = df_.notna().sum()
    missing_data['notna_rate'] = df_.notna().mean().map(lambda x: '{:.2%}'.format(x))
    
    display(missing_data)
    
    print('='*60)
    print('\033[1m'+f'Number of properties in {name_}:'+'\033[0m\n', len(df_.columns))
    print('='*60)
    display(df_.head(3))
    print('='*60)

============================================================
    INFO df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30507 entries, 0 to 30506
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   address         29723 non-null  object
 1   client_name     30507 non-null  object
 2   phone           30080 non-null  object
 3   price           30507 non-null  int64
 4   delivery_date   30394 non-null  datetime64[ns]
 5   delivery_time   27845 non-null  object
 6   code            30507 non-null  object
 7   payment_status  28167 non-null  object
 8   email           2 non-null      object
 9   date_and_time   30507 non-null  datetime64[ns]
 10  client_comment  30437 non-null  object
 11  payment_type    28438 non-null  object
 12  month           30394 non-null  float64
 13  year            30394 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(9)
memory usage: 3.3+ MB
None

============================================================
Initial Duplicates in df:  0

============================================================
Columns in df:
 Index(['address', 'client_name', 'phone', 'price', 'delivery_date',
       'delivery_time', 'code', 'payment_status', 'email', 'date_and_time',
       'client_comment', 'payment_type', 'month', 'year'],
      dtype='object')
============================================================
Nulls and notNAs in df:

                nulls null_rate  notna notna_rate
address           784     2.57%  29723     97.43%
client_name         0     0.00%  30507    100.00%
phone             427     1.40%  30080     98.60%
price               0     0.00%  30507    100.00%
delivery_date     113     0.37%  30394     99.63%
delivery_time    2662     8.73%  27845     91.27%
code                0     0.00%  30507    100.00%
payment_status   2340     7.67%  28167     92.33%
email           30505    99.99%      2      0.01%
date_and_time       0     0.00%  30507    100.00%
client_comment     70     0.23%  30437     99.77%
payment_type     2069     6.78%  28438     93.22%
month             113     0.37%  30394     99.63%
year              113     0.37%  30394     99.63%

============================================================
Number of properties in df:
 14
============================================================

,address,client_name,phone,price,delivery_date,delivery_time,code,payment_status,email,date_and_time,client_comment,payment_type,month,year
0,"119192, Москва город, г. Москва, Мосфильмовска...",Гоша Клиент Трукост,79062168777,500,2020-06-03,в 14:00,329C,NaN,NaN,2020-05-03 17:43:00,белый с зеленым букет 4500,NaN,6.0,2020.0
1,"Москва город, г. Москва, ул. Римского-Корсаков...",Кирилл Клиент Трукост,79372285102,4100,2020-08-03,с 08:00 до 10:00,347C,NaN,NaN,2020-05-03 19:11:00,50 белых тюльпан,NaN,8.0,2020.0
2,самовывоз,Эдуард Клиент Трукост,79057758377,0,2020-09-03,в 13:00,463C,NaN,NaN,2020-09-03 10:50:00,букет пышный для мамы весеннее 10тыс,NaN,9.0,2020.0

============================================================

In [5]:
df.phone.nunique()

16389

## Метро

In [6]:
metro_list = [
    
"Авиамоторная",
"Академическая",
"Александровскийсад",
"Алексеевская",
"Алма-Атинская",
"Алтуфьево",
"Аминьевская",
"Андроновка",
"Аникеевка",
"Аннино",
"Арбатская",
"Аэропорт",
"Аминьевскоешоссе",
"Багратионовская",
"Баковка",
"Балтийская",
"Баррикадная",
"Бауманская",
"Беговая",
"Белокаменная",
"Беломорская",
"Белорусская",
"Беляево",
"Бескудниково",
"Бибирево",
"БиблиотекаимениЛенина",
"Битца",
"Битцевскийпарк",
"Борисово",
"Боровицкая",
"Боровскоешоссе",
"Ботаническийсад",
"Братиславская",
"БульварадмиралаУшакова",
"БульварДмитрияДонского",
"БунинскаяАллея",
"Бутово",
"Бутырская",
"Беломорскаяулица",
"Бутырская",
"ВДНХ",
"ВерхниеКотлы",
"ВерхниеЛихоборы",
"Владыкино",
"Водники",
"Водныйстадион",
"Войковская",
"Волгоградскийпроспект",
"Волжская",
"Волоколамская",
"Воробьевыгоры",
"Воронцовская",
"Выставочная",
"Выставочныйцентр",
"Выхино",
"Волхонка",
"Воронцовская",
"Гражданская",
"Дегунино",
"Деловойцентр",
"Депо",
"Динамо",
"Дмитровская",
"Добрынинская",
"Долгопрудная",
"Домодедовская",
"Достоевская",
"Дубровка",
"Давыдково",
"Дорогомиловская",
"Зорге",
"Зюзино",
"Зябликово",
"Измайловская",
"Калитники",
"Калужская",
"Кантемировская",
"Каховская",
"Каширская",
"Киевская",
"Китай-город",
"Кожуховская",
"Коломенская",
"Коммунарка",
"Комсомольская",
"Коньково",
"Коптево",
"Косино",
"Котельники",
"Красногвардейская",
"Красногорская",
"Краснопресненская",
"Красносельская",
"Красныеворота",
"КрасныйБалтиец",
"КрасныйСтроитель",
"Крестьянскаязастава",
"Кропоткинская",
"Крылатское",
"Крымская",
"Кузнецкиймост",
"Кузьминки",
"Кунцевская",
"Курская",
"Курьяново",
"Кутузовская",
"Каховская",
"Каширская",
"Кленовыйбульвар",
"Кунцевская",
"Лермонтовскийпроспект",
"Лесопарковая",
"Лефортово",
"Лианозово",
"Лихоборы",
"Лобня",
"Локомотив",
"Ломоносовскийпроспект",
"Лубянка",
"Лужники",
"Лухмановская",
"Люблино",
"Марксистская",
"Марьинароща",
"Марьино",
"Маяковская",
"Медведково",
"Международная",
"Менделеевская",
"Минская",
"Митино",
"Мичуринскийпроспект",
"Мнёвники",
"Молодежная",
"Москва-Товарная",
"Москворечье",
"Мякинино",
"Нагорная",
"НародноеОполчение",
"Нахабино",
"НахимовскийПроспект",
"Некрасовка",
"Немчиновка",
"Нижегородская",
"Новаторская",
"Новогиреево",
"Новодачная",
"Новокосино",
"Новокузнецкая",
"Новопеределкино",
"Новослободская",
"Новохохловская",
"Новоясеневская",
"НовыеЧерёмушки",
"НижниеМневники",
"Озёрная",
"Окружная",
"Окская",
"Октябрьская",
"Октябрьскоеполе",
"Ольховая",
"Опалиха",
"Орехово",
"Остафьево",
"Отрадное",
"Охотныйряд",
"Павелецкая",
"Павшино",
"Панфиловская",
"ПаркКультуры",
"ПаркПобеды",
"Партизанская",
"Пенягино",
"Первомайская",
"Перерва",
"Перово",
"ПетровскийпаркЗакрыта",
"Петровско-Разумовская",
"Печатники",
"Пионерская",
"Планерная",
"ПлощадьГагарина",
"ПлощадьИльича",
"ПлощадьРеволюции",
"Подольск",
"Покровское",
"Полежаевская",
"Полянка",
"Пражская",
"Преображенскаяплощадь",
"Прокшино",
"Пролетарская",
"ПроспектВернадского",
"ПроспектМира",
"Профсоюзная",
"Пушкинская",
"Пятницкоешоссе",
"Петровскийпарк",
"Петровско-Разумовская",
"Печатники",
"Плющиха",
"ПроспектВернадского",
"Раменки",
"Рассказовка",
"Речнойвокзал",
"Рижская",
"Римская",
"Ростокино",
"Румянцево",
"Рязанскийпроспект",
"Ржевская",
"Рубцовская",
"Савеловская",
"Саларьево",
"Свиблово",
"Севастопольская",
"Селигерская",
"Семеновская",
"Серпуховская",
"Сетунь",
"Силикатная",
"Сколково",
"Славянскийбульвар",
"Смоленская",
"Сокол",
"СоколинаяГора",
"Сокольники",
"Солнцево",
"Спартак",
"Спортивная",
"Сретенскийбульвар",
"Стахановская",
"Стрешнево",
"Стрешнево",
"Строгино",
"Студенческая",
"Сухаревская",
"Сходненская",
"Севастопольскийпроспект",
"Стромынка",
"Тверская",
"Театральная",
"Текстильщики",
"Телецентр",
"Теплыйстан",
"Терехово",
"Тестовская",
"Технопарк",
"Тимирязевская",
"Третьяковская",
"Трикотажная",
"Тропарёво",
"Трубная",
"Тульская",
"Тургеневская",
"Тушинская",
"Текстильщики",
"Терехово",
"Улица1905года",
"УлицаАкадемикаКоролёва",
"УлицаакадемикаЯнгеля",
"УлицаГорчакова",
"УлицаДмитриевского",
"УлицаМилашенкова",
"УлицаСергеяЭйзенштейна",
"УлицаСкобелевская",
"УлицаСтарокачаловская",
"Университет",
"УлицаНародногоополчения",
"УлицаНоваторов",
"Филевскийпарк",
"Фили (Филевскаялиния)",
"Фонвизинская",
"Фрунзенская",
"Фонвизинская",
"Ховрино",
"Хорошёво",
"Хорошёвская",
"Царицыно",
"Цветнойбульвар",
"ЦСКА",
"Чертановская",
"Чеховская",
"Чистыепруды",
"Чкаловская",
"Шелепиха",
"Шереметьевская",
"Шипиловская",
"ШоссеЭнтузиастов",
"Шереметьевская",
"Щербинка",
"Щукинская",
"Электрозаводская",
"Юго-Западная",
"Южная"

]

In [7]:
metro_list = [x.lower() for x in metro_list]

In [8]:
metro_list

['авиамоторная',
 'академическая',
 'александровскийсад',
 'алексеевская',
 'алма-атинская',
 'алтуфьево',
 'аминьевская',
 'андроновка',
 'аникеевка',
 'аннино',
 'арбатская',
 'аэропорт',
 'аминьевскоешоссе',
 'багратионовская',
 'баковка',
 'балтийская',
 'баррикадная',
 'бауманская',
 'беговая',
 'белокаменная',
 'беломорская',
 'белорусская',
 'беляево',
 'бескудниково',
 'бибирево',
 'библиотекаимениленина',
 'битца',
 'битцевскийпарк',
 'борисово',
 'боровицкая',
 'боровскоешоссе',
 'ботаническийсад',
 'братиславская',
 'бульварадмиралаушакова',
 'бульвардмитриядонского',
 'бунинскаяаллея',
 'бутово',
 'бутырская',
 'беломорскаяулица',
 'бутырская',
 'вднх',
 'верхниекотлы',
 'верхниелихоборы',
 'владыкино',
 'водники',
 'водныйстадион',
 'войковская',
 'волгоградскийпроспект',
 'волжская',
 'волоколамская',
 'воробьевыгоры',
 'воронцовская',
 'выставочная',
 'выставочныйцентр',
 'выхино',
 'волхонка',
 'воронцовская',
 'гражданская',
 'дегунино',
 'деловойцентр',
 'депо',
 'динамо',
 'дмитровская',
 'добрынинская',
 'долгопрудная',
 'домодедовская',
 'достоевская',
 'дубровка',
 'давыдково',
 'дорогомиловская',
 'зорге',
 'зюзино',
 'зябликово',
 'измайловская',
 'калитники',
 'калужская',
 'кантемировская',
 'каховская',
 'каширская',
 'киевская',
 'китай-город',
 'кожуховская',
 'коломенская',
 'коммунарка',
 'комсомольская',
 'коньково',
 'коптево',
 'косино',
 'котельники',
 'красногвардейская',
 'красногорская',
 'краснопресненская',
 'красносельская',
 'красныеворота',
 'красныйбалтиец',
 'красныйстроитель',
 'крестьянскаязастава',
 'кропоткинская',
 'крылатское',
 'крымская',
 'кузнецкиймост',
 'кузьминки',
 'кунцевская',
 'курская',
 'курьяново',
 'кутузовская',
 'каховская',
 'каширская',
 'кленовыйбульвар',
 'кунцевская',
 'лермонтовскийпроспект',
 'лесопарковая',
 'лефортово',
 'лианозово',
 'лихоборы',
 'лобня',
 'локомотив',
 'ломоносовскийпроспект',
 'лубянка',
 'лужники',
 'лухмановская',
 'люблино',
 'марксистская',
 'марьинароща',
 'марьино',
 'маяковская',
 'медведково',
 'международная',
 'менделеевская',
 'минская',
 'митино',
 'мичуринскийпроспект',
 'мнёвники',
 'молодежная',
 'москва-товарная',
 'москворечье',
 'мякинино',
 'нагорная',
 'народноеополчение',
 'нахабино',
 'нахимовскийпроспект',
 'некрасовка',
 'немчиновка',
 'нижегородская',
 'новаторская',
 'новогиреево',
 'новодачная',
 'новокосино',
 'новокузнецкая',
 'новопеределкино',
 'новослободская',
 'новохохловская',
 'новоясеневская',
 'новыечерёмушки',
 'нижниемневники',
 'озёрная',
 'окружная',
 'окская',
 'октябрьская',
 'октябрьскоеполе',
 'ольховая',
 'опалиха',
 'орехово',
 'остафьево',
 'отрадное',
 'охотныйряд',
 'павелецкая',
 'павшино',
 'панфиловская',
 'парккультуры',
 'паркпобеды',
 'партизанская',
 'пенягино',
 'первомайская',
 'перерва',
 'перово',
 'петровскийпаркзакрыта',
 'петровско-разумовская',
 'печатники',
 'пионерская',
 'планерная',
 'площадьгагарина',
 'площадьильича',
 'площадьреволюции',
 'подольск',
 'покровское',
 'полежаевская',
 'полянка',
 'пражская',
 'преображенскаяплощадь',
 'прокшино',
 'пролетарская',
 'проспектвернадского',
 'проспектмира',
 'профсоюзная',
 'пушкинская',
 'пятницкоешоссе',
 'петровскийпарк',
 'петровско-разумовская',
 'печатники',
 'плющиха',
 'проспектвернадского',
 'раменки',
 'рассказовка',
 'речнойвокзал',
 'рижская',
 'римская',
 'ростокино',
 'румянцево',
 'рязанскийпроспект',
 'ржевская',
 'рубцовская',
 'савеловская',
 'саларьево',
 'свиблово',
 'севастопольская',
 'селигерская',
 'семеновская',
 'серпуховская',
 'сетунь',
 'силикатная',
 'сколково',
 'славянскийбульвар',
 'смоленская',
 'сокол',
 'соколинаягора',
 'сокольники',
 'солнцево',
 'спартак',
 'спортивная',
 'сретенскийбульвар',
 'стахановская',
 'стрешнево',
 'стрешнево',
 'строгино',
 'студенческая',
 'сухаревская',
 'сходненская',
 'севастопольскийпроспект',
 'стромынка',
 'тверская',
 'театральная',
 'текстильщики',
 'телецентр',
 'теплыйстан',
 'терехово',
 'тестовская',
 'технопарк',
 'тимирязевская',
 'третьяковская',
 'трикотажная',
 'тропарёво',
 'трубная',
 'тульская',
 'тургеневская',
 'тушинская',
 'текстильщики',
 'терехово',
 'улица1905года',
 'улицаакадемикакоролёва',
 'улицаакадемикаянгеля',
 'улицагорчакова',
 'улицадмитриевского',
 'улицамилашенкова',
 'улицасергеяэйзенштейна',
 'улицаскобелевская',
 'улицастарокачаловская',
 'университет',
 'улицанародногоополчения',
 'улицановаторов',
 'филевскийпарк',
 'фили\xa0(филевскаялиния)',
 'фонвизинская',
 'фрунзенская',
 'фонвизинская',
 'ховрино',
 'хорошёво',
 'хорошёвская',
 'царицыно',
 'цветнойбульвар',
 'цска',
 'чертановская',
 'чеховская',
 'чистыепруды',
 'чкаловская',
 'шелепиха',
 'шереметьевская',
 'шипиловская',
 'шоссеэнтузиастов',
 'шереметьевская',
 'щербинка',
 'щукинская',
 'электрозаводская',
 'юго-западная',
 'южная']

In [9]:
df.address = [x.lower() for x in df.address.astype(str)]

In [10]:
def metro_input(column):
    for i in metro_list:
        if i in column:
            return i

In [11]:
df.address = df.address.astype(str)
df['metro'] = df.address.apply(metro_input)

In [12]:
df.groupby('metro', as_index=False).address.count().sort_values('address', ascending=False)

                     metro  address
128            профсоюзная      281
130                раменки      272
145             смоленская      256
175                   цска      222
171            фрунзенская      216
7                арбатская      212
185           юго-западная      205
169            университет      192
179               шелепиха      183
82              маяковская      176
86                 минская      175
146                  сокол      173
52                киевская      165
66              крылатское      159
1            академическая      157
156               тверская      149
112             павелецкая      144
55             коломенская      125
13              бауманская      122
164              тропарёво      121
149             спортивная      120
65           кропоткинская      120
99           новокузнецкая      118
84           международная      113
125                полянка      111
48               калужская      109
151               строгино      108
183              щукинская      107
173            хорошёвская      105
103                озёрная      103
12             баррикадная      102
111               отрадное      100
8                 аэропорт      100
16             белорусская       99
63       краснопресненская       98
141           серпуховская       94
166               тульская       90
106            октябрьская       90
98             новогиреево       88
165                трубная       87
176           чертановская       85
36                  динамо       84
71             кутузовская       84
14                 беговая       84
17                 беляево       84
92                нагорная       83
37             дмитровская       78
24                    вднх       78
129             пушкинская       74
114           первомайская       74
31             выставочная       73
21           братиславская       72
139            селигерская       72
101         новослободская       72
87                  митино       70
60              котельники       65
56              коммунарка       63
15             беломорская       62
40           домодедовская       62
9          багратионовская       61
167           тургеневская       61
120              планерная       60
69              кунцевская       59
68               кузьминки       59
2             алексеевская       59
178             чкаловская       58
53             китай-город       57
155            сходненская       57
64          красносельская       56
163          третьяковская       55
97             новаторская       52
153           студенческая       52
81                 марьино       51
184       электрозаводская       49
18                бибирево       48
116                 перово       48
147               солнцево       48
154            сухаревская       47
43                дубровка       46
96           нижегородская       46
83              медведково       46
59                  косино       45
49          кантемировская       44
127           пролетарская       44
79                 люблино       44
58                коньково       43
177              чеховская       42
42             достоевская       40
80            марксистская       39
85           менделеевская       39
161              технопарк       39
4                алтуфьево       37
57           комсомольская       36
157            театральная       36
73               лефортово       36
138        севастопольская       35
122               подольск       35
88                мнёвники       35
150           стахановская       34
172                ховрино       33
50               каховская       33
0             авиамоторная       33
32                  выхино       32
170           фонвизинская       31
137               свиблово       31
70                 курская       30
186                  южная       29
47            измайловская       29
6                   аннино       28
119             пионерская       28
95              немчиновка       28
144               сколково       27
168              тушинская       27
126               пражская       27
20              боровицкая       27
54             кожуховская       26
44                   зорге       26
38            добрынинская       26
94              некрасовка       25
28           волоколамская       25
34               давыдково       24
23               бутырская       24
89              молодежная       24
109                орехово       24
162          тимирязевская       23
133                римская       23
158           текстильщики       23
181            шипиловская       21
26              войковская       21
46               зябликово       21
41         дорогомиловская       21
27                волжская       20
131            рассказовка       20
118              печатники       20
117  петровско-разумовская       19
30            воронцовская       19
19                борисово       18
132                рижская       18
51               каширская       18
3            алма-атинская       18
105                 окская       18
174               царицыно       17
5              аминьевская       17
135              румянцево       15
148                спартак       15
67                крымская       14
136              саларьево       12
74                лихоборы       12
91                мякинино       12
93                нахабино       12
77                 лужники       11
45                  зюзино       11
180         шереметьевская       10
61       красногвардейская       10
102         новоясеневская       10
72            лесопарковая        9
11              балтийская        9
76                 лубянка        9
75                   лобня        9
100        новопеределкино        9
113           партизанская        9
78            лухмановская        9
39            долгопрудная        9
142                 сетунь        8
104               окружная        8
22                  бутово        8
160             тестовская        7
25               владыкино        7
124           полежаевская        7
182               щербинка        6
123             покровское        6
10                 баковка        5
108                опалиха        5
121                плющиха        5
134             рубцовская        4
62           красногорская        4
110              остафьево        3
107               ольховая        3
33             гражданская        3
35                    депо        3
29                волхонка        2
115                перерва        2
140            семеновская        2
159               терехово        2
90             москворечье        1
143             силикатная        1
152              стромынка        1

In [13]:
# df.sort_values('metro', ascending=False).head(2)

## Выделение  и обработка необходимых столбцов

### Выделение столбцов

In [14]:
df = df[['phone', 'price', 'delivery_date', 'date_and_time', 'metro']]
# df.head(2)

### Обработка даты оформления заказа и метро

In [15]:
df.metro = df.metro.fillna('uknown')

In [16]:
df = df.rename(columns = {'date_and_time':'order_date'})

In [17]:
df.order_date = df.order_date.dt.date

In [18]:
# df.head(2)

### Обработка номеров телефонов

In [19]:
simbs = []                           # участвующие в номере телефона символы
nums = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
for i in df.phone.to_list():
    for j in range(len(str(i))):
        if str(i)[j] not in simbs:
            simbs.append(str(i)[j])

simbs_to_del = []                    # список символов к удалению из номеров телефонов
for i in range(len(simbs)):
    if simbs[i] not in nums:
        simbs_to_del.append(simbs[i])

In [20]:
df.phone = df.phone.astype(str)

In [21]:
for i in simbs_to_del:
    df.phone = df.phone.str.replace(i, '')

In [22]:
# df.phone

In [23]:
simbs = []                           # участвующие в номере телефона символы
for i in df.phone.to_list():
    for j in range(len(str(i))):
        if str(i)[j] not in simbs:
            simbs.append(str(i)[j])
            
set(simbs)

{'0', '1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [24]:
l = 0
for i in df.phone.to_list():
    if len(str(i)) > l:
        l = len(str(i))
    if len(str(i)) > 14:
        print(i)
print(l)

971553553814833
896526456591411
798512028441013
790379697981637
792536668901720
7967262721779252627212
22

In [25]:
def lenghts(column):                    # приведение телефонов к одной длине, усечение ошибок
#     if len(str(column)) < 15:
        return str(column)[0:15]

In [26]:
df.phone = df.phone.apply(lenghts)

In [27]:
df.phone.nunique()

14787

In [28]:
df.isna().mean()

phone            0.000000
price            0.000000
delivery_date    0.003704
order_date       0.000000
metro            0.000000
dtype: float64

In [29]:
df.phone = df.phone.fillna(0)

In [30]:
df.phone.isna().mean()

0.0

In [31]:
simbs = []                           # участвующие в номере телефона символы
for i in df.phone.to_list():
    for j in range(len(str(i))):
        if str(i)[j] not in simbs:
            simbs.append(str(i)[j])
set(simbs)

{'0', '1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [32]:
df.loc[df.phone == '', 'phone'] = '0'

In [33]:
df.phone = df.phone.astype(float)

In [34]:
df.phone = df.phone.astype('Int64') + some_number )))

In [35]:
df.loc[df.phone == some_number, 'phone'] = 0

In [36]:
# df.phone = df.phone.fillna(0)
df.phone.nunique()

14786

In [37]:
# df.phone

#### Выделение клиентов по номерам телефонов, которые покупали не менее двух раз в течение квартала с предыдущей покупки за отчетный период

In [38]:
def time_diff(df):
    # get the time differences and put them directly into the group
    df['time_since_previous'] = df.sort_values('order_date').order_date.diff()

    return df

df_reg = df.groupby('phone').apply(time_diff)

# df_reg =  df_reg.query('phone != 0', engine='python')
# df_reg
# df['time_since_previous'] = df.sort_values('order_date').groupby('phone').order_date.diff()

In [39]:
df_reg.time_since_previous = df_reg.time_since_previous.dt.days

check_period = 90
df_reg.time_since_previous = df_reg.time_since_previous.fillna(0)
df_reg.time_since_previous = df_reg.time_since_previous.astype(int)
# df_reg = df_reg.query('0 <= time_since_previous < @check_period')
# df_reg
df_reg = df_reg.query('time_since_previous >0 ', engine='python')
df_reg.head()

,phone,price,delivery_date,order_date,metro,time_since_previous
0,79062189087,500,2020-06-03,2020-05-03,uknown,12
2,79057778687,0,2020-09-03,2020-09-03,uknown,162
3,89860000518,10000,2020-03-21,2020-03-21,uknown,1
10,89038007131,5500,2020-03-26,2020-03-25,бауманская,49
13,79057778687,25000,2020-03-26,2020-03-25,коммунарка,75

In [40]:
df_reg_interim = df_reg.groupby('phone', as_index=False).time_since_previous.mean()
df_reg_final = df_reg_interim.query('time_since_previous <= @check_period')

In [41]:
df_reg_final

              phone  time_since_previous
0                 0             3.389776
1        9035676299            45.000000
3        9232384014            29.000000
5       12622747403            25.000000
6       12673060962            73.000000
...             ...                  ...
5262  4915733029198            43.190476
5263  4917632270656            63.000000
5264  4917664364974            68.000000
5265  5219841808535            50.000000
5268  8971553835143            73.666667

[1924 rows x 2 columns]

In [42]:
phones_reg_list = df_reg_final.phone.astype(str).to_list()
df.phone = df.phone.astype(str)
len(phones_reg_list)

1924

In [43]:
def reg_buy(column):
    for i in phones_reg_list:
        if i in column:
            return "true"

In [44]:
df['reg_buy'] = df.phone.apply(reg_buy)

In [45]:
df.query('reg_buy == "true"').shape

(23137, 6)

In [46]:
df.reg_buy = df.reg_buy.fillna('false')
df.isna().mean()

phone            0.000000
price            0.000000
delivery_date    0.003704
order_date       0.000000
metro            0.000000
reg_buy          0.000000
dtype: float64

In [47]:
# df

In [48]:
df['month'] = pd.to_datetime(df.order_date).dt.month
df['year'] = pd.to_datetime(df.order_date).dt.year
df['ym'] = df.year.astype(str) +' - ' +  df.month.astype(str)
# df.head(2)

In [49]:
df.price = df.price.fillna(0)

In [50]:
df.isna().mean()

phone            0.000000
price            0.000000
delivery_date    0.003704
order_date       0.000000
metro            0.000000
reg_buy          0.000000
month            0.000000
year             0.000000
ym               0.000000
dtype: float64

### Заполнение нулевых цен медианным значением

In [51]:
df.query('price.isna()', engine='python')

Empty DataFrame
Columns: [phone, price, delivery_date, order_date, metro, reg_buy, month, year, ym]
Index: []

In [52]:
# df.query('price == 0', engine='python').head(2)

In [53]:
for i in df.ym.unique():
    df.loc[(df.price == 0) & (df.ym == (i)), 'price'] = df.query(f'ym == "{i}"').price.median()

In [54]:
df.isna().mean()

phone            0.000000
price            0.000000
delivery_date    0.003704
order_date       0.000000
metro            0.000000
reg_buy          0.000000
month            0.000000
year             0.000000
ym               0.000000
dtype: float64

In [55]:
df = df[['phone', 'price', 'delivery_date', 'order_date', 'metro', 'reg_buy']]
df.query('price == 0')

Empty DataFrame
Columns: [phone, price, delivery_date, order_date, metro, reg_buy]
Index: []

In [56]:
df.isna().mean()

phone            0.000000
price            0.000000
delivery_date    0.003704
order_date       0.000000
metro            0.000000
reg_buy          0.000000
dtype: float64

In [57]:
df.order_date = pd.to_datetime(df.order_date, format='%Y-%m-%d')

In [58]:
df = df.query('order_date < "2022-06-22"')
# df.head()

## Распределение задержки выполнения

In [59]:
df['delay'] = df.delivery_date - df.order_date

In [60]:
df_delay = df.query('delay.notna()', engine='python')
df_delay.delay = df_delay.delay.dt.days.astype(int)

In [61]:
df_delay = df_delay.query('delay > 0')
df_delay_final = df_delay.groupby('delay', as_index=False).phone.count().rename(columns = {'phone':'num'})
df_delay_final

     delay   num
0        1  5775
1        2  1514
2        3   756
3        4   343
4        5   150
5        6    80
6        7    57
7        8    33
8        9    16
9       10    13
10      11    12
11      12     6
12      13     8
13      14     2
14      15     6
15      16     3
16      17     4
17      19     1
18      21     4
19      22     2
20      24     1
21      26     1
22      28   162
23      29    99
24      30  1152
25      31  1702
26      32     7
27      33    11
28      34    15
29      35    11
30      36     6
31      37     3
32      38     2
33      39     2
34      41     1
35      45     2
36      46     1
37      50     1
38      59   111
39      60    41
40      61   735
41      62    71
42      63     3
43      64     8
44      65    14
45      66     6
46      67     5
47      68     2
48      69     4
49      70     3
50      71     3
51      74     1
52      75     2
53      77     1
54      89    46
55      90    48
56      91   120
57      92   312
58      93     3
59      94     2
60      95     8
61      96    11
62      97     2
63      98     1
64     100     1
65     101     1
66     108     1
67     110     1
68     117     2
69     120    50
70     121    15
71     122   158
72     123    35
73     124     2
74     125    11
75     126     6
76     127     3
77     128     4
78     129     3
79     130     4
80     132     1
81     135     1
82     136     1
83     146     1
84     147     4
85     150    17
86     151    12
87     152     4
88     153   104
89     154     1
90     155     1
91     156    27
92     157    18
93     158     7
94     159    14
95     160     1
96     161     6
97     162     6
98     163    12
99     164     1
100    165     1
101    167     2
102    168     3
103    174     1
104    176     1
105    181    70
106    182    36
107    183     5
108    184    22
109    187     1
110    188     1
111    189     1
112    190     1
113    191     1
114    192     1
115    193     1
116    197     1
117    212    31
118    213    11
119    214    13
120    215     1
121    216     1
122    218     1
123    243     7
124    244     2
125    245     1
126    247     1
127    250     2
128    253     2
129    260     1
130    273     5
131    274     1
132    275     2
133    277     1
134    280     1
135    281     1
136    283     1
137    304     4
138    334     1
139    366     1

## Кол-во покупок с момента регистрации в течение квартала с первого заказа (альтернативно)

In [62]:
# df.tsp = df.tsp.fillna(0)

In [63]:
# df_min = df.groupby('phone', as_index=False).order_date.min()
# df_min = df_min.merge(df, how='inner', on='phone').sort_values('phone')
# df_min['check_quarter'] = df_min.order_date_y - df_min.order_date_x
# df_min = df_min.sort_values('check_quarter',ascending=False)
# df_min.check_quarter = df_min.check_quarter.dt.days.astype(int)

In [64]:
# df_min.query('check_quarter < 90').groupby('phone').phone.count().to_frame()

## Распределение частоты покупок

In [65]:
df

,phone,price,delivery_date,order_date,metro,reg_buy,delay
0,79062189087,500,2020-06-03,2020-05-03,uknown,true,31 days
1,79372305412,4100,2020-08-03,2020-05-03,бибирево,true,92 days
2,79057778687,5500,2020-09-03,2020-09-03,uknown,true,0 days
3,89860000518,10000,2020-03-21,2020-03-21,uknown,true,0 days
4,79151137754,5400,2020-03-26,2020-03-24,uknown,false,2 days
...,...,...,...,...,...,...,...
30502,79266764733,5200,2021-01-24,2021-01-24,раменки,true,0 days
30503,79167400508,5000,2020-12-19,2020-12-19,uknown,true,0 days
30504,79164504409,7450,2020-11-12,2020-11-12,uknown,true,0 days
30505,79251231457,10100,2020-11-30,2020-11-29,юго-западная,false,1 days
30506,79031404190,5000,2020-06-25,2020-06-24,uknown,true,1 days

In [66]:
df['time_since_previous'] = df.sort_values('order_date').groupby('phone').order_date.diff()
df

,phone,price,delivery_date,order_date,metro,reg_buy,delay,time_since_previous
0,79062189087,500,2020-06-03,2020-05-03,uknown,true,31 days,12 days
1,79372305412,4100,2020-08-03,2020-05-03,бибирево,true,92 days,NaT
2,79057778687,5500,2020-09-03,2020-09-03,uknown,true,0 days,162 days
3,89860000518,10000,2020-03-21,2020-03-21,uknown,true,0 days,1 days
4,79151137754,5400,2020-03-26,2020-03-24,uknown,false,2 days,NaT
...,...,...,...,...,...,...,...,...
30502,79266764733,5200,2021-01-24,2021-01-24,раменки,true,0 days,NaT
30503,79167400508,5000,2020-12-19,2020-12-19,uknown,true,0 days,176 days
30504,79164504409,7450,2020-11-12,2020-11-12,uknown,true,0 days,NaT
30505,79251231457,10100,2020-11-30,2020-11-29,юго-западная,false,1 days,NaT
30506,79031404190,5000,2020-06-25,2020-06-24,uknown,true,1 days,92 days

In [67]:
df.loc[df.time_since_previous.notna(), 'time_since_previous'] = df.loc[df.time_since_previous.notna()]\
    .time_since_previous.dt.days.astype(int)

In [68]:
df.time_since_previous = df.time_since_previous.fillna(0)
df

,phone,price,delivery_date,order_date,metro,reg_buy,delay,time_since_previous
0,79062189087,500,2020-06-03,2020-05-03,uknown,true,31 days,12
1,79372305412,4100,2020-08-03,2020-05-03,бибирево,true,92 days,0
2,79057778687,5500,2020-09-03,2020-09-03,uknown,true,0 days,162
3,89860000518,10000,2020-03-21,2020-03-21,uknown,true,0 days,1
4,79151137754,5400,2020-03-26,2020-03-24,uknown,false,2 days,0
...,...,...,...,...,...,...,...,...
30502,79266764733,5200,2021-01-24,2021-01-24,раменки,true,0 days,0
30503,79167400508,5000,2020-12-19,2020-12-19,uknown,true,0 days,176
30504,79164504409,7450,2020-11-12,2020-11-12,uknown,true,0 days,0
30505,79251231457,10100,2020-11-30,2020-11-29,юго-западная,false,1 days,0
30506,79031404190,5000,2020-06-25,2020-06-24,uknown,true,1 days,92

In [69]:
df_count_total = df.groupby('time_since_previous', as_index=False).phone.count()\
    .query('time_since_previous > 0').rename(columns = {'time_since_previous':'days', 'phone':'num'})
df_count_total

     days  num
1       1  419
2       2  286
3       3  232
4       4  247
5       5  216
..    ...  ...
624   770    1
625   781    1
626   791    1
627   807    1
628   830    1

[628 rows x 2 columns]

In [70]:
# распределение покупок для постоянных клиентов
df_count_reg = df.query('reg_buy == "true"').query('time_since_previous > 0')\
    .groupby('time_since_previous', as_index=False).phone.count()\
    .rename(columns = {'time_since_previous':'days', 'phone':'num'})

df_count_reg

     days  num
0       1  408
1       2  269
2       3  224
3       4  229
4       5  210
..    ...  ...
561   761    1
562   762    1
563   769    1
564   781    1
565   807    1

[566 rows x 2 columns]

## Сохранение файлов

In [71]:
df_count_total.to_excel('6 Teni_df_count_total_6.xlsx')
df_count_reg.to_excel('6 Teni_df_count_reg_6.xlsx')
df.to_excel('6 Teni_processed_6.xlsx')
df_delay_final.to_excel('6 Teni_df_delay_final_6.xlsx')